<nav class="p-4 bg-black text-white flex items-center justify-between">
  <h1 class="text-4xl">
    {{#link-to "index" class="no-underline text-white"}} ⚾️ Ember Baseball {{/link-to}}
  </h1>

  <div>
    {{#link-to "teams" class="text-grey no-underline font-medium mr-4"}} Teams {{/link-to}} {{#link-to "players" class="text-grey
    no-underline font-medium"}} Players {{/link-to}}
  </div>
</nav>