<div class="mb-8 flex flex-row items-center justify-between">
  <h2>Teams</h2>

  {{#link-to "teams.new"}}
    Create New Team
  {{/link-to}} 
</div>

{{#each model as |team|}}
  {{team-card team=team}}
{{/each}}