<h3>New Team</h3>

<form action="submit">
  <label for="name">Name</label>
  <input id="name" type="text" placeholder="Dodgers" />

  <label for="city">City</label>
  <input id="city" type="text" placeholder="Los Angeles" />

  <label for="state">State</label>
  <input id="state" type="text" placeholder="CA" />

  <label for="color">Color</label>
  <input id="color" type="color" />

  <button type="submit">Create Team</button>
</form>