<h3>New Player</h3>

<form action="submit">
  <label for="firstName">First Name</label>
  <input id="firstName" type="text" placeholder="Clayton" />

  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" placeholder="http://mlb.mlb.com/mlb/images/players/head_shot/477132.jpg" />

  <label for="dateOfBirth">Date of Birth</label>
  <input id="dateOfBirth" type="date" placeholder="03/19/1988" />

  <label for="number">Number</label>
  <input id="number" type="number" placeholder="22" />

  <label for="position"></label>
  <select id="position" name="position">
    <option value="first base">First Base</option>
    <option value="second base">Second Base</option>
    <option value="shortstop">Shortstop</option>
    <option value="third base">Third Base</option>
    <option value="pitcher">Pitcher</option>
    <option value="catcher">Catcher</option>
    <option value="right field">Right Field</option>
    <option value="center field">Center Field</option>
    <option value="left field">Left Field</option>
  </select>

  <label for="battingAverage">Batting Average</label>
  <input id="battingAverage" type="number" min="0" max="1" placeholder=".500" />

  <label for="freeAgent">Free Agent</label>
  <input id="freeAgent" type="checkbox" placeholder="false">

  <label for="team">Team</label>
  <select name="team" id="team">
    {{#each model as |team|}}
    <option value={{team.id}}>{{team.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Create Team</button>
</form>