<h2>{{model.fullName}}</h2>

<img src={{model.avatar}} />

<p>{{model.team.name}}</p>

{{#link-to "players.edit" model.id}} Edit Player {{/link-to}}
<button {{action 'deletePlayer' model}}>Delete Player</button>