<h2>{{model.name}}</h2>

<h3>Players</h3>

<ul class="list-reset">
  {{#each model.players as |player|}}
    <li>{{player.firstName}} - {{player.isFreeAgent}} - {{player.battingAverage}}</li>
  {{/each}}
</ul>